body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: $dark-blue;
  animation: fadeIn 1s ease;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;

  footer {
    margin-top: auto;
  }

  & > :not(nav):not(footer):not(script):not(header):not(.welcome-page):not(h1) {
    &:nth-child(odd) {
      animation: slideInRight 1s ease;
    }

    &:nth-child(even) {
      animation: slideInLeft 1s ease;
    }
  }

  header {
    animation: fadeIn 2s ease;
  }
}

h1 {
  font-size: 64px;

  @include media-max-width(500px) {
    font-size: 50px;
  }
}

h2 {
  font-size: 45px;
  padding-inline: 1rem;

  @include media-max-width(500px) {
    font-size: 40px;
  }
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: $dark-blue;
}

button {
  &.remove-styles {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @include media-max-width(900px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 80px;
  border: 7px solid $dark-blue;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: $green;
    color: $white;
    border-color: $green;
  }

  &s-wrapper {
    @extend .container;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.m {
  &x {
    &-auto {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.fs {
  &-22 {
    font-size: 22px;
  }
}

.p {
  &x {
    &-1 {
      padding-inline: 1rem;
    }
  }

  &t-3 {
    padding-top: 3rem;
  }
}

.text {
  &-center {
    text-align: center;
  }
}

.d {
  &-block {
    display: block;
  }

  &-flex {
    display: flex;
  }

  &-none {
    display: none !important;
  }
}

.flex {
  &-column {
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }

  &-around {
    justify-content: space-around;
  }
}

.align-items {
  &-center {
    align-items: center;
  }
}

.loading-icon {
  animation: spin 2s linear infinite;
}

.color {
  &-green {
    color: $green;
  }

  &-dark-blue {
    color: $dark-blue;
  }

  &-red {
    color: $red;
  }
}

.height {
  &-auto {
    height: auto;
  }
}

.w {
  &-100 {
    width: 100%;
  }
}

.size {
  &-auto {
    width: auto;
    height: auto;
  }
}

