.welcome-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: start;
  justify-items: center;
  flex-wrap: wrap;
  animation: fadeIn 1.5s ease forwards;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/welcome_page_table.jpeg");
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1;
    animation: none;
    opacity: 0.6;
  }

  h1 {
    width: 100%;

    @include media-max-width(460px) {
      font-size: 45px;
    }
  }

  .logo {
    max-height: fit-content;
    grid-column: span 2;
    grid-row: 1;
    padding-top: 113px;
    margin-bottom: 0;

    @include media-max-width(460px) {
      padding-top: 50px;
    }
  }

  .btn {
    max-width: 100%;
    width: 440px;
    height: 165px;
    font-size: 40px;
    margin-bottom: 30px;

    @include media-max-width(460px) {
      width: 80%;
      height: auto;
      min-height: 130px;
      font-size: 30px;
      padding-inline: 1rem;
    }
  }

  div:last-child {
    @include media-max-width(1000px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
